<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>矿压监测</title>

    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/index.css}">
    <link rel="stylesheet" th:href="@{/static/css/jquery.datetimepicker.css}">

    <style type="text/css">
        .table th, .table td {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">矿压监测历史数据</h3>
        </div>
        <div style="padding: 15px">
            <form th:action="@{/ftp/rockPressure/history}" method="get">
                <div class="panel-query form-inline">
                    <input type="text" name="keyword" class="form-control" placeholder="分站、传感器类型..." th:value="${queryDTO.keyword}"/>
                    <input class="form-control date text-center time_input" type="text" placeholder="选择日期" name="queryDate" th:value="${queryDTO.queryDate}" />
                    <button type="submit" class="btn btn-primary">搜索</button>
                </div>
            </form>
        </div>
        <div class="panel-body no-padding">
            <div class="table-responsive">
                <table class="table table-striped" >
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>主站</th>
                        <th>通讯方式</th>
                        <th>分站</th>
                        <th>分站类型</th>
                        <th>传感器安装区域</th>
                        <th>传感器编号</th>
                        <th>传感器类型</th>
                        <th>一通道测量值</th>
                        <th>二通道测量值</th>
                        <th>三通道测量值</th>
                        <th>单位</th>
                        <th>通信状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center item" th:each="item:${page.content}">
                        <td>001</td>
                        <td th:text="${item.mainPoint}">01</td>
                        <td th:text="${item.reportWay}">在线</td>
                        <td th:text="${item.subPoint}">01</td>
                        <td th:text="${item.subPointType}">综采监测</td>
                        <td th:text="${item.sensorRegion}">001#支架</td>
                        <td th:text="${item.sensorCode}">001</td>
                        <td th:text="${item.sensorType}">综采压力</td>
                        <td th:text="${item.oneValue}">1.0</td>
                        <td th:text="${item.twoValue}">0.0</td>
                        <td th:text="${item.threeValue}">--</td>
                        <td th:text="${item.unit}">Mpa</td>
                        <td th:text="${item.reportStatus}">断线</td>
                    </tr>
                    </tbody>
                </table>
                <nav th:replace="common/page::paging"></nav>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/jquery-1.7.2.min.js}"></script>
<script th:src="@{/static/js/jquery.datetimepicker.full.js}"></script>
<script th:src="@{/static/config/config.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var ctx = /*[[@{/}]]*/;

    $('.time_input').datetimepicker({
        lang:"ch", //语言选择中文 注：旧版本 新版方法：$.datetimepicker.setLocale('ch');
        format:"Y-m-d",
        timepicker:false,
        yearStart:2000,
        yearEnd:2050,
        todayButton:true
    });

</script>
</body>
</html>