<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>detail</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        .row{
            height: 40px;
            background-color: #f7f7f9;
            display: flex;
            justify-content:center;
            align-items:Center;
            border-bottom: 1px solid #bbbbbb;
        }
        .row span{
           display: inline-block;
            min-width: 50px;
            max-width: 80px;
            line-height: 30px;
            background-color: #ffffff;
        }

    </style>
</head>
<body>

<div class="container-fluid list">
    <!--<h5 onclick="javascript:history.go(-1)">返回</h5>-->


    <div th:each="field,index:${fields}">
        <div class="row">
            <!--<div class="col-xs-4" th:text="${field.describer.substring(field.describer.lastIndexOf('/')+1)}" th:value="${field.telemetrySignal}">-->
            <div class="col-xs-5" th:text="${field.describer}" th:value="${field.telemetrySignal}">
                前轴温
            </div>
            <!--<div class="col-xs-3" th:text="${field.type}" th:value="${field.type}">-->
                <!--前轴温-->
            <!--</div>-->
            <div class="col-xs-2 text-center item">
                <span th:text="${field.telemetryValue==null?'##.##':field.telemetryValue}" th:value="${field.describer}" th:attr="warmingValue=${field.warmingValue}">##.##</span>
            </div>
            <div class="col-xs-5 text-right">
                <!--<a type="button" class="btn btn-success btn-xs" role="button">详情</a>-->
                <a type="button" class="btn btn-success btn-xs" role="button" th:href="@{/chart/}+${field.id}">详情</a>
                <a type="button" class="btn btn-success btn-xs" role="button" th:href="@{/history/}+${field.id}">历史数据</a>
            </div>

        </div>
    </div>

</div>
<!-- Scripts placed at the end of the document so the pages load faster -->
<script th:src="@{/static/js/jquery-1.7.2.min.js}"></script>
<script th:src="@{/static/js/paho-mqtt.js}"></script>
<script th:src="@{/static/config/config.js}"></script>
<script th:src="@{/static/utils/stringUtils.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var _topic= /*[[${topic.topic}]]*/;
    var uid= /*[[${uid}]]*/;


    var hostname = config.apollo_host,
        port = config.apollo_port,
        clientId = uid,
        timeout = 2000,
        userName = 'admin',
        password = 'password',
        reconnectTimeout = 3000,
        topic = _topic+'/#';


    function MQTTconnect(){
        if(null==clientId){
            clientId = Math.random()*10000;
        }
        client = new Paho.MQTT.Client(hostname, Number(port), clientId);
        var options = {
            timeout:timeout,
            userName: userName,
            password: password,
            keepAliveInterval:10,
            reconnect:true,
            onSuccess: onConnect,
            onFailure: function (message) {
                console.log("onFailure==",message);
                setTimeout(MQTTconnect, reconnectTimeout);
            }
        };
        client.onConnectionLost = onConnectionLost;
        client.onMessageArrived = onMessageArrived;
        client.connect(options);

    }

    function onConnect() {
        console.log("==conn=="+topic);
        client.subscribe(topic);
    }

    function onConnectionLost(response) {
        console.log("onConnectionLost===",response);
//        setTimeout(MQTTconnect, reconnectTimeout);
    };
    function onMessageArrived(message) {
        var topic = message.destinationName;
        var payload = stringUtils.toDecimal2(message.payloadString);
//        console.log("订阅消息:==== "+topic+"===="+payload);
        $(".list").find(".item span[value='"+topic+"']").html(payload);

        var warmingValue = $(".list").find(".item span[value='"+topic+"']").attr("warmingValue");
        if(null==warmingValue){
            return;
        }
        if(parseInt(payload)>0&&parseInt(payload)>parseInt(warmingValue)){
            $(".list").find(".item span[value='"+topic+"']").css("color","red");
        }else if(parseInt(payload)<0&&parseInt(payload)>parseInt(warmingValue)){
            $(".list").find(".item span[value='"+topic+"']").css("color","green");
        }else{
            $(".list").find(".item span[value='"+topic+"']").css("color","grey");
        }
    };


    MQTTconnect();

    window.onunload = function() {
        console.log("===unsubscribe====")
        client.unsubscribe(topic);
    };


</script>
</body>
</html>